---
import Button from '../ui/Button.astro';
---

<section
  class="container mx-auto px-4 pt-3 pb-16 sm:px-6 sm:pb-24 lg:px-8 lg:pt-10 lg:pb-32"
  id="contact"
>
  <div class="space-y-8 rounded-3xl bg-neutral-900 px-6 py-12 text-center sm:p-16 lg:p-24">
    <h2
      class="font-heading text-4xl font-bold tracking-tighter text-neutral-100 sm:text-6xl lg:text-[72px]"
    >
      ¿Listo para evolucionar?
    </h2>
    <p class="mx-auto max-w-2xl text-lg text-neutral-100/60 sm:text-xl">
      Transformamos su infraestructura técnica en un ecosistema de alto rendimiento. Hablemos de su
      próximo biótopo.
    </p>

    <Button variant="secondary"> Agendar una Sesión </Button>
  </div>
</section>
