---
import Button from '../ui/Button.astro';
---

<section class="container mx-auto px-4 py-16 sm:px-6 sm:py-24 lg:px-8 lg:py-32" id="philosophy">
  <div class="space-y-8 rounded-3xl bg-neutral-900 px-6 py-12 sm:p-16 lg:p-24 text-center">
    <h2
      class="font-heading text-4xl sm:text-6xl lg:text-[72px] font-bold tracking-tighter text-neutral-100"
    >
      ¿Listo para evolucionar?
    </h2>
    <p class="mx-auto max-w-2xl text-lg sm:text-xl text-neutral-100/60">
      Transformamos su infraestructura técnica en un ecosistema de alto rendimiento. Hablemos de su
      próximo biótopo.
    </p>

    <Button variant="secondary"> Agendar una Sesión </Button>
  </div>
</section>
