---
import type { HTMLAttributes } from 'astro/types';
import { cn } from '../../lib/cn';

type ButtonProps = HTMLAttributes<'button'>;

type Props = ButtonProps & {
  variant?: 'primary' | 'outline';
  href?: string;
};

const { variant = 'primary', class: className, href, ...rest } = Astro.props;

const variants = {
  primary:
    'bg-primary-700 hover:bg-primary-800 border-primary-700 rounded-md border-2 px-6 py-3 text-white transition-colors sm:text-base lg:text-base xl:text-[18px]',
  outline:
    'hover:border-primary-700/50 text-primary-700 hover:text-primary-800 border-primary-700/20 rounded-md border-2 px-6 py-3 transition-colors sm:text-base lg:text-base xl:text-[18px]',
};

const classes = cn(variants[variant], className);
---

{
  href ? (
    <a href={href} class={classes} {...rest}>
      <slot />
    </a>
  ) : (
    <button class={classes} {...rest}>
      <slot />
    </button>
  )
}
